<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>Mario.Marilena.macOS</string>
    <key>CFBundleName</key>
    <string>Marilena</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Marilena richiede l’accesso al microfono per registrare audio.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Marilena richiede l’accesso al calendario per creare e gestire eventi.</string>
    <key>NSCameraUsageDescription</key>
    <string>Marilena può usare la fotocamera per allegare immagini.</string>
</dict>
</plist>


